Repository duan602728596/sweet: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint

.lintstagedrc.yml:

linters:
  packages/**/*.{js,jsx,ts,tsx}: eslint
  packages/**/*.{ts,tsx}: tslint
  scripts/**/*.{ts,tsx}: tslint
ignore:
  - node_modules
  - packages/**/node_modules

fix: 只允许没有output.publicPath属性时自动添加该属性
  packages/milktea-cli/src/argv/argvStart.ts
Due: eslint, tslint

ci: 调整编译配置
  .sweetrc.js
Due: none

chore: 更新依赖
  package.json
Due: none

refactor: 调整变量名称
  src/store/store.js
Due: none

fix: 调整按钮的type属性
  src/modules/Index/Index/index.js
Due: none

refactor: 调整代码
  src/assembly/Content/index.js
  src/assembly/Main/index.js
  src/modules/Index/store/reducer.js
  src/modules/List/store/module1.js
Due: none

chore: 调整ignore的配置
  .eslintignore
  packages/milktea-cli/.npmignore
  packages/milktea/.npmignore
  packages/server/.npmignore
  packages/util-tools/.npmignore
Due: none

chore: 调整ignore
  .dll/dll.js
  .dll/manifest.json
  .eslintignore
  .gitignore
Due: none

chore: 删除.dll文件
  .dll/dll.js
  .dll/manifest.json
  .gitignore
Due: none

build: .sweetrc.js -> sweet.config.js
  sweet.config.js
Due: none

chore: 调整ignore
  .eslintignore
  .gitignore
Due: none

perf: 调整配置文件的查找顺序
  packages/milktea/src/milktea.ts
Due: eslint, tslint

fix: webpack.Compiler变量类型错误
  package.json
  packages/milktea-cli/src/argv/argvBuild.ts
  packages/milktea-cli/src/argv/argvDll.ts
  packages/milktea-cli/src/argv/argvStart.ts
  packages/milktea-cli/src/utils/types.d.ts
  packages/server/src/devServer.ts
Due: eslint, tslint

chore: 更新依赖
  package.json
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server/package.json
  packages/util-tools/package.json
Due: none

ci: 调整babel.config.js的配置
  babel.config.js
Due: none

style: 格式化sass代码
  src/assembly/Arrangement/style.sass
  src/assembly/Content/style.sass
  src/assembly/ErrorBoundary/style.sass
  src/assembly/Header/style.sass
  src/assembly/Sider/style.sass
  src/common.sass
  src/modules/Index/Index/style.sass
Due: none

style: 格式化代码
  src/common.sass
Due: none

style: 格式化sass代码
  src/assembly/Arrangement/style.sass
  src/assembly/Header/style.sass
  src/assembly/Sider/style.sass
  src/common.sass
Due: none

ci: tslint配置文件修改成yaml格式
  tslint.json
  tslint.yml
Due: none

test: 调整测试用例
  packages/milktea/package.json
  packages/milktea/test/test.js
  packages/milktea/tests/config.js
  packages/milktea/tests/dll.js
  packages/milktea/tests/loaders.js
  packages/milktea/tests/server.js
  packages/milktea/tests/test.js
  packages/milktea/tests/utils/expectFunction.js
Due: eslint

test: 调整测试用例
  packages/milktea-cli/package.json
  packages/milktea-cli/test/test.js
  packages/milktea-cli/tests/.sweetrc.build.js
  packages/milktea-cli/tests/.sweetrc.js
  packages/milktea-cli/tests/build.js
  packages/milktea-cli/tests/dll.js
  packages/milktea-cli/tests/src/app.js
  packages/milktea-cli/tests/src/index.pug
  packages/milktea-cli/tests/start.js
  packages/milktea-cli/tests/test.js
Due: eslint

ci: 调整命令
  packages/milktea-cli/package.json
Due: none

test: 调整测试用例
  packages/server/package.json
  packages/server/tests/compiler.js
  packages/server/tests/devServer.js
  packages/server/tests/proServer.js
  packages/server/tests/src/app.js
  packages/server/tests/src/index.pug
  packages/server/tests/test.js
Due: eslint

test: 调整测试用例
  packages/util-tools/package.json
  packages/util-tools/test/test.js
  packages/util-tools/tests/image2webp/image.jpeg
  packages/util-tools/tests/image2webp/image.webp
  packages/util-tools/tests/image2webp/image2webp.js
  packages/util-tools/tests/test.js
  packages/util-tools/tests/update.js
Due: eslint

chore: ignore
  .eslintignore
  .gitignore
  packages/milktea-cli/.npmignore
  packages/milktea/.npmignore
  packages/server/.npmignore
  packages/util-tools/.npmignore
Due: none

refactor: 优化代码，提取方法
  packages/milktea/src/milktea.ts
  packages/milktea/src/utils/getSweetConfigFile.ts
  packages/milktea/src/utils/jsRegisterLoader.ts
Due: eslint, tslint

test: 调整测试用例
  packages/milktea-cli/tests/build.js
  packages/milktea-cli/tests/dll.js
  packages/milktea-cli/tests/src/index.js
  packages/milktea-cli/tests/start.js
  packages/milktea-cli/tests/sweet.config.build.js
  packages/milktea-cli/tests/sweet.config.js
  packages/server/tests/compiler.js
  packages/server/tests/devServer.js
  packages/server/tests/proServer.js
  packages/server/tests/src/index.js
Due: eslint

refactor: 调整文件名称
  src/App.js
  src/index.js
  src/index.pug
  sweet.config.js
Due: none

refactor: 调整文件名称
  sweet.config.js
Due: none

refactor: 调整文件名称
  src/App.js
  src/index.js
Due: none

style: 格式化代码
  src/index.pug
Due: none

chore: 更新依赖
  package.json
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server/package.json
Due: none

chore: 更新依赖
  package.json
  packages/milktea/package.json
Due: none
