Repository duan602728596/sweet: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint

feat: 使用合并功能合并webpack配置
  packages/milktea/package.json
  packages/milktea/src/config.ts
  packages/milktea/src/dll.ts
  packages/milktea/src/loaders/js.ts
  packages/milktea/src/server.ts
Due: eslint, tslint

test: 添加了dll文件的loader，修改测试用例
  packages/milktea/tests/config.js
  packages/milktea/tests/function.js
  packages/milktea/tests/server.js
Due: eslint

chore: 更新依赖
  package.json
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server/package.json
  packages/util-tools/package.json
Due: none

chore: 更新依赖
  packages/milktea/package.json
Due: none

style: 格式化文件
  lerna.json
Due: none

chore: 更新依赖
  package.json
Due: none

chore: 更新依赖
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server/package.json
  packages/util-tools/package.json
Due: none

chore: 更新依赖
  package.json
  packages/milktea-cli/package.json
  packages/milktea/package.json
Due: none

fix: 修正目录错误
  src/App.js
Due: none

test: 调整测试用例
  packages/milktea-cli/tests/build.js
  packages/milktea-cli/tests/dll.js
  packages/milktea-cli/tests/start.js
Due: eslint

ci: 使用大小写检测
  package.json
Due: none

ci: 文件大小写检测
  package.json
  src/assembly/Header/HumanInformation.js
Due: none

chore: 更新依赖
  package.json
  packages/milktea/package.json
Due: none

style: 格式化代码
  package.json
  utils/babelRegisterConfig.js
Due: none

style: 格式化代码
  utils/babelRegisterConfig.js
Due: none

ci: 添加文件拷贝脚本，避免手动拷贝文件
  package.json
  scripts/copy.ts
Due: tslint

feat: babel配置corejs版本
  packages/milktea/package.json
  packages/milktea/src/loaders/js.ts
Due: eslint, tslint

ci: 模块引入的大小写检测
  package.json
Due: none

chore: 更新依赖
  package.json
  packages/milktea-cli/package.json
Due: none

refactor: 调整传参
  packages/milktea/src/config.ts
  packages/milktea/src/dll.ts
  packages/milktea/src/milktea.ts
  packages/milktea/src/server.ts
Due: eslint, tslint

Path conditions:
  eslint: any of: packages/**/*.{js,jsx,ts,tsx}
  tslint: (any of: packages/**/*.{ts,tsx}) or (any of: scripts/**/*.{ts,tsx})
