Repository duan602728596/sweet: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint

ci: 调整编译配置
  scripts/config.ts
Due: tslint

chore: v0.0.0-alpha.9
  lerna.json
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server-log/package.json
  packages/server/package.json
  packages/util-tools/package.json
Due: none

feat: 添加日志功能
  packages/milktea-cli/package.json
  packages/server-log/README.md
  packages/server-log/package.json
  packages/server-log/src/index.ts
  packages/server/package.json
  packages/server/src/devServer.ts
  packages/server/src/logs/logs.ts
  packages/server/src/proServer.ts
  packages/server/src/utils/types.d.ts
Due: eslint, tslint

feat: 添加cli工具配置
  packages/milktea-cli/src/argv/argvServer.ts
  packages/milktea-cli/src/cli.ts
  packages/milktea-cli/src/utils/types.d.ts
  packages/server/src/logs/logs.ts
  packages/server/src/utils/types.d.ts
Due: eslint, tslint

docs: 补充文档
  packages/milktea-cli/README.md
  packages/server-log/README.md
  packages/server/README.md
Due: none

docs: 补充文档
  README.md
Due: none

chore: 添加日志功能
  .gitignore
  package.json
Due: none

chore: 添加日志功能
  package.json
Due: none

fix: 修复接口的配置
  packages/server-log/src/createHttpConfig.ts
Due: eslint, tslint

chore: 升级依赖
  package.json
Due: none

chore: 升级依赖
  package.json
  packages/server-log/package.json
Due: none

style: 修改代码样式
  packages/milktea/src/optimization/optimization.ts
Due: eslint, tslint

refactor: 添加错误处理
  packages/server/src/koa-iltorb/index.ts
Due: eslint, tslint

chore: 升级依赖，修改介绍
  packages/server/package.json
Due: none

fix: 修复前后端渲染不统一的问题
  src/assembly/Arrangement/server.js
  src/server.js
Due: none

chore: 升级依赖
  packages/milktea/package.json
Due: none

fix: 修复服务端渲染output的配置
  packages/milktea/src/server.ts
Due: eslint, tslint

fix: 添加服务端webpack的noParse配置
  packages/milktea/src/server.ts
Due: eslint, tslint

perf: 调整babel的编译配置
  packages/milktea/src/loaders/js.ts
Due: eslint, tslint

refactor: 调整代码
  packages/milktea/src/milktea.ts
  packages/server/src/devServer.ts
  packages/server/src/proServer.ts
  packages/server/src/utils/controllers.ts
  packages/server/src/utils/preDevRender.ts
  packages/server/src/utils/preProRender.ts
  packages/server/src/utils/types.d.ts
Due: eslint, tslint

perf: 使用semver解析版本号
  packages/util-tools/package.json
  packages/util-tools/src/update.ts
  packages/util-tools/tests/test.js
  packages/util-tools/tests/update/update.js
Due: eslint, tslint

chore: 升级依赖
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server/package.json
Due: none

chore: 升级依赖
  package.json
  packages/milktea/package.json
Due: none

refactor: 调整变量
  packages/server/src/koa-iltorb/index.ts
Due: eslint, tslint

fix: 修复导航的错误
  src/assembly/Sider/index.js
Due: none

refactor: 调整方法
  src/modules/Index/reducer/reducer.js
  src/modules/List/reducer/module1.js
  src/modules/List/reducer/reducer.js
Due: none

chore: 升级依赖
  package.json
  packages/milktea-cli/package.json
Due: none

chore: 升级依赖
  packages/server-log/package.json
Due: none

refactor: 调整代码
  packages/server/src/koa-iltorb/index.ts
Due: eslint, tslint

refactor: 添加webpackChunkName
  src/router/Routers.js
Due: none

refactor: 添加webpackChunkName
  src/router/routers.js
Due: none

refactor: 调整变量类型
  packages/milktea/README.md
  packages/milktea/src/config.ts
  packages/milktea/src/loaders/less.ts
  packages/milktea/src/loaders/sass.ts
  packages/milktea/src/server.ts
  packages/milktea/src/utils/types.d.ts
Due: eslint, tslint

style: 调整eslint配置，格式化代码
  .eslintrc.yml
  packages/server/src/utils/preProRender.ts
  packages/util-tools/src/update.ts
Due: eslint, tslint

Path conditions:
  eslint: any of: packages/**/*.{js,jsx,ts,tsx}
  tslint: (any of: packages/**/*.{ts,tsx}) or (any of: scripts/**/*.{ts,tsx})
