Repository duan602728596/sweet: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint

.lintstagedrc.yml:

linters:
  packages/**/*.{js,jsx,ts,tsx}: eslint
  packages/**/*.{ts,tsx}: tslint
  scripts/**/*.{ts,tsx}: tslint
ignore:
  - node_modules
  - packages/**/node_modules

fix: 压缩中间件只压缩本地文件
  packages/server/src/koa-iltorb/index.ts
Due: eslint, tslint

chore: 更新依赖
  package.json
Due: none

refactor: 修改变量类型
  src/store/loadReducer.js
Due: none

chore: 更新依赖
  package.json
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server/package.json
  packages/util-tools/package.json
Due: none

style: 删除行尾空行
  .sweetrc.js
Due: none

fix: 修改变量类型
  src/assembly/Header/index.js
  src/assembly/Header/style.sass
  src/assembly/Sider/index.js
Due: none

feat: 使用antd的vue版本替换iview
  .sweetrc.js
  package.json
  src/app.js
  src/assembly/Arrangement/index.js
  src/assembly/Arrangement/style.sass
  src/assembly/Content/index.js
  src/assembly/Header/humanInformation.js
  src/assembly/Header/index.js
  src/assembly/Header/style.sass
  src/assembly/Icon/fonts/icon.eot
  src/assembly/Icon/fonts/icon.svg
  src/assembly/Icon/fonts/icon.ttf
  src/assembly/Icon/fonts/icon.woff
  src/assembly/Icon/style.sass
  src/assembly/Main/index.js
  src/assembly/Sider/index.js
  src/common.sass
  src/iview.js
  src/modules/Index/Index/index.js
Due: none

chore: 更新依赖
  packages/milktea-cli/package.json
  packages/milktea/package.json
Due: none

style: 修改eslint规则并检查代码
  .eslintrc.yml
  packages/milktea/test/loaders.js
Due: eslint

chore: 调整eslint规则
  .eslintrc.yml
Due: none

style: 格式化代码
  .eslintrc.yml
  src/assembly/ErrorBoundary/index.js
  src/assembly/Header/index.js
  src/assembly/Sider/index.js
  src/modules/Form/Index/index.js
  src/modules/Form/Layout.js
  src/modules/Index/Index/ListDisplay.js
  src/modules/Index/store/reducer.js
  src/modules/List/Layout.js
  src/modules/List/store/reducer.js
Due: none

style: 格式化代码
  .eslintrc.yml
  src/assembly/Header/humanInformation.js
  src/assembly/Header/index.js
  src/modules/Page/Layout.js
Due: none

chore: 更新依赖
  packages/milktea/package.json
Due: none

chore: 调整eslint配置
  .eslintrc.yml
  package.json
Due: none

chore: 调整eslint配置
  .eslintrc.yml
Due: none

chore: 修改eslint配置
  .eslintrc.yml
Due: none

chore: 安装@typescript-eslint/parser
  .eslintrc.yml
  package.json
Due: none

fix: 修改配置错误
  .eslintrc.yml
Due: none

style: 格式化代码
  packages/util-tools/src/update.ts
Due: eslint, tslint

fix: ide无法正确提示语法错误，回退eslint配置
  .eslintrc.yml
Due: none

style: 更新eslint版本，并调整配置
  .eslintrc.yml
  babel.config.js
  package.json
  packages/server/src/koa-iltorb/index.ts
Due: eslint, tslint

chore: 添加注释
  babel.config.js
Due: none

chore: 修改eslint配置
  .eslintrc.yml
  babel.config.js
  package.json
Due: none

refactor: 调整变量名称
  packages/server/src/devServer.ts
  packages/server/src/proServer.ts
Due: eslint, tslint

fix: configFile设置为false，避免和babel.config.js冲突
  packages/milktea/src/config/babel.ts
  packages/server/src/utils/utils.ts
Due: eslint, tslint

refactor: 调整文件打包路径
  packages/milktea/src/config.ts
  packages/milktea/src/config/fontFile.ts
  packages/milktea/src/config/image.ts
  packages/milktea/src/config/svg.ts
  packages/milktea/src/plugins/proPlugins.ts
  packages/milktea/src/utils/utils.ts
Due: eslint, tslint

fix: 函数路径错误
  packages/milktea/src/dll.ts
  packages/milktea/src/plugins/handleWebpackBuildProgress.ts
  packages/milktea/src/plugins/proPlugins.ts
Due: eslint, tslint

fix: 调整webpack的output的配置
  packages/milktea-cli/src/argv/argvStart.ts
  packages/milktea/src/config.ts
Due: eslint, tslint
