Repository duan602728596/sweet: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint

.lintstagedrc.yml:

linters:
  packages/**/*.{js,jsx,ts,tsx}: eslint
  packages/**/*.{ts,tsx}: tslint
  scripts/**/*.{ts,tsx}: tslint
ignore:
  - node_modules
  - packages/**/node_modules

test: 修改测试用例
  packages/milktea-cli/tests/sweet.config.build.js
  packages/milktea-cli/tests/sweet.config.js
Due: eslint

test: 调整测试用例
  packages/milktea-cli/tests/sweet.config.build.js
  packages/milktea-cli/tests/sweet.config.js
Due: eslint

docs: 修改说明文档
  packages/milktea/README.md
Due: none

ci: 调整配置文件
  sweet.config.js
Due: none

ci: 调整配置
  sweet.config.js
Due: none

ci: 回退babel-eslint版本
  babel.config.js
  package.json
Due: none

chore: 更新依赖
  package.json
Due: none

chore: 更新依赖
  packages/milktea-cli/package.json
  packages/server/package.json
Due: none

chore: 更新依赖
  package.json
  packages/milktea/package.json
Due: none

chore: 更新依赖
  package.json
  packages/server/package.json
Due: none

feat: 修改interface的规则
  packages/server/src/utils/preDevRender.ts
  packages/server/src/utils/utils.ts
Due: eslint, tslint

docs: 修改文档说明
  packages/milktea/README.md
Due: none

fix: 正确修改interface的方法
  packages/server/src/utils/preDevRender.ts
  packages/server/src/utils/preProRender.ts
  packages/server/src/utils/utils.ts
Due: eslint, tslint

chore: 更新依赖
  package.json
  packages/milktea/package.json
  packages/server/package.json
Due: none

fix: 添加测试用的依赖模块
  packages/server/package.json
Due: none

fix: 安装运行测试用例依赖的模块
  packages/milktea-cli/package.json
  packages/server/package.json
  packages/util-tools/package.json
Due: none

chore: eslintignore
  .eslintignore
Due: none

refactor: 调整代码和注释
  packages/milktea/src/loaders/less.ts
  packages/milktea/src/loaders/sass.ts
  packages/milktea/src/optimization/optimization.ts
Due: eslint, tslint

test: 调整测试用例
  packages/milktea/tests/utils/expectFunction.js
Due: eslint

fix: dll编译配置
  packages/milktea/src/dll.ts
Due: eslint, tslint

chore: 修改react-router-dom的版本
  package.json
Due: none

feat: 调整api和controllers的位置
  packages/server/package.json
  packages/server/src/devServer.ts
  packages/server/src/proServer.ts
  packages/server/src/utils/controllers.ts
  packages/server/src/utils/preDevRender.ts
  packages/server/src/utils/preProRender.ts
  packages/server/src/utils/utils.ts
Due: eslint, tslint

docs: 修改文档
  packages/milktea/README.md
Due: none

refactor: 调整代码和注释
  packages/server/src/devServer.ts
  packages/server/src/proServer.ts
  packages/server/src/utils/utils.ts
Due: eslint, tslint

chore: 更新依赖
  packages/milktea/package.json
Due: none

fix: 修改文件判断的bug
  packages/server/src/utils/controllers.ts
  packages/server/src/utils/preDevRender.ts
  packages/server/src/utils/utils.ts
Due: eslint, tslint

refactor: 修改注释说明
  packages/server/src/utils/preProRender.ts
Due: eslint, tslint

fix: 修复默认的文件
  packages/server/src/utils/preDevRender.ts
  packages/server/src/utils/preProRender.ts
Due: eslint, tslint

ci: 调整命令
  package.json
Due: none
