Repository duan602728596/sweet: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint

.lintstagedrc.yml:

linters:
  packages/**/*.{js,jsx,ts,tsx}: eslint
  packages/**/*.{ts,tsx}: tslint
  scripts/**/*.{ts,tsx}: tslint
ignore:
  - node_modules
  - packages/**/node_modules

chore: 更新依赖
  package.json
Due: none

perf: 使用@babel/preset-typescript代替flowjs
  .eslintrc.yml
  babel.config.js
  package.json
  packages/milktea-cli/tests/build.js
  packages/milktea-cli/tests/dll.js
  packages/milktea-cli/tests/start.js
  packages/milktea/package.json
  packages/milktea/src/config/babel.ts
  packages/milktea/tests/config.js
  packages/milktea/tests/dll.js
  packages/milktea/tests/loaders.js
  packages/milktea/tests/server.js
  packages/milktea/tests/utils/expectFunction.js
  packages/server/package.json
  packages/server/src/utils/utils.ts
  packages/server/tests/compiler.js
  packages/server/tests/devServer.js
  packages/server/tests/proServer.js
  packages/util-tools/tests/image2webp/image.webp
  packages/util-tools/tests/image2webp/image2webp.js
  packages/util-tools/tests/update.js
  tslint.yml
  utils/babelRegisterConfig.js
Due: eslint, tslint

chore: 删除flow-bin
  .flowconfig
  package.json
Due: none

chore: v0.0.0-alpha.5
  packages/milktea-cli/package.json
  packages/milktea-cli/tests/dll.js
  packages/milktea-cli/tests/start.js
  packages/milktea/package.json
  packages/server/package.json
  packages/server/tests/compiler.js
  packages/server/tests/devServer.js
  packages/server/tests/proServer.js
  packages/util-tools/package.json
Due: eslint

fix: 调整变量类型
  packages/server/src/utils/utils.ts
Due: eslint, tslint

fix: 调整babel的配置顺序
  packages/milktea/src/config/babel.ts
  packages/server/src/utils/utils.ts
  utils/babelRegisterConfig.js
Due: eslint, tslint

refactor: 删除文件
  utils/test.type.js
Due: none

refactor: 调整变量类型为typescript
  .flowconfig
  babel.config.js
  package.json
  src/assembly/Arrangement/index.js
  src/assembly/Content/index.js
  src/assembly/ErrorBoundary/index.js
  src/assembly/Header/HumanInformation.js
  src/assembly/Header/index.js
  src/assembly/Main/index.js
  src/assembly/Sider/index.js
  src/assembly/SwitchLoading/index.js
  sweet.config.js
Due: none

ci: 调整eslint配置
  .eslintrc.yml
Due: none

chore: 调整依赖
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server/package.json
  packages/util-tools/package.json
Due: none

fix: 调整config文件加载的配置
  packages/milktea/src/utils/utils.ts
Due: eslint, tslint

fix: 添加typescript解析
  packages/milktea/src/utils/utils.ts
Due: eslint, tslint

perf: 依据typescript调整变量类型
  babel.config.js
  src/App.js
  src/assembly/ErrorBoundary/index.js
  src/assembly/Sider/index.js
  src/index.js
  src/modules/Form/Index/index.js
  src/modules/Form/Layout.js
  src/modules/Index/Index/ListDisplay.js
  src/modules/Index/Index/index.js
  src/modules/Index/Layout.js
  src/modules/Index/store/reducer.js
  src/modules/List/Index/index.js
  src/modules/List/Layout.js
  src/modules/List/store/module1.js
  src/modules/List/store/reducer.js
  src/router/Routers.js
  src/router/asyncModule.js
  src/store/loadReducer.js
  src/store/reducers.js
  src/store/store.js
Due: none

chore: 移除包
  package.json
Due: none

feat: 移除babel的typescript配置
  .eslintrc.yml
  babel.config.js
  package.json
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/milktea/src/config/babel.ts
  packages/milktea/src/utils/utils.ts
  packages/server/package.json
  packages/server/src/utils/utils.ts
  packages/util-tools/package.json
Due: eslint, tslint

docs: 修改文档，调整类型相关
  packages/milktea/README.md
Due: none

test: 移除类型标注
  packages/milktea/tests/config.js
  packages/milktea/tests/dll.js
  packages/milktea/tests/loaders.js
  packages/milktea/tests/server.js
  packages/milktea/tests/test.js
  packages/milktea/tests/utils/expectFunction.js
Due: eslint

test: 移除类型标注
  packages/milktea-cli/tests/build.js
  packages/milktea-cli/tests/dll.js
  packages/milktea-cli/tests/src/index.js
  packages/milktea-cli/tests/start.js
  packages/milktea-cli/tests/test.js
Due: eslint

test: 移除类型标注
  packages/server/tests/compiler.js
  packages/server/tests/devServer.js
  packages/server/tests/proServer.js
  packages/server/tests/src/index.js
  packages/server/tests/test.js
  packages/util-tools/tests/image2webp/image.webp
  packages/util-tools/tests/image2webp/image2webp.js
  packages/util-tools/tests/test.js
  packages/util-tools/tests/update.js
Due: eslint

chore: v0.0.0-alpha.6
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server/package.json
  packages/util-tools/package.json
  utils/babelRegisterConfig.js
Due: none

feat: 移除类型标注
  .eslintrc.yml
  babel.config.js
  package.json
  src/App.js
  src/assembly/Arrangement/index.js
  src/assembly/Content/index.js
  src/assembly/ErrorBoundary/index.js
  src/assembly/Header/HumanInformation.js
  src/assembly/Header/index.js
  src/assembly/Main/index.js
  src/assembly/Sider/index.js
  src/assembly/SwitchLoading/index.js
  src/modules/Form/Index/index.js
  src/modules/Form/Layout.js
  src/modules/Index/Index/ListDisplay.js
  src/modules/Index/Index/index.js
  src/modules/Index/Layout.js
  src/modules/Index/store/reducer.js
  src/modules/List/Index/index.js
  src/modules/List/Layout.js
  src/modules/List/store/module1.js
  src/modules/List/store/reducer.js
  src/router/Routers.js
  src/router/asyncModule.js
  src/store/loadReducer.js
  src/store/reducers.js
  src/store/store.js
  sweet.config.js
Due: none

feat: 移除类型标注
  .eslintrc.yml
  .flowconfig
  babel.config.js
  package.json
  src/App.js
  src/assembly/Arrangement/index.js
  src/assembly/Content/index.js
  src/assembly/Header/humanInformation.js
  src/assembly/Header/index.js
  src/assembly/Main/index.js
  src/assembly/Sider/index.js
  src/index.js
  src/modules/Index/Index/index.js
  src/modules/Index/Layout.js
  src/modules/Index/store/index.js
  src/modules/Page/Layout.js
  src/router/routers.js
  src/store/modules.js
  src/store/store.js
  sweet.config.js
Due: none

refactor: 调整代码
  src/modules/Index/Layout.js
  src/modules/Page/Layout.js
Due: none

ci: 移除不必要的presets
  babel.config.js
  package.json
Due: none

chore: 更新依赖
  packages/milktea/package.json
Due: none

refactor: 调整代码和注释
  packages/milktea/README.md
  packages/milktea/src/config.ts
  packages/milktea/src/config/babel.ts
  packages/milktea/src/config/less.ts
  packages/milktea/src/loaders/js.ts
  packages/milktea/src/loaders/less.ts
  packages/milktea/src/loaders/loaders.ts
  packages/milktea/src/loaders/sass.ts
  packages/milktea/src/optimization/optimization.ts
  packages/milktea/src/plugins/plugins.ts
  packages/milktea/src/server.ts
  packages/milktea/src/utils/babelConfig.ts
  packages/milktea/src/utils/getSweetConfigFile.ts
  packages/milktea/src/utils/utils.ts
  packages/server/src/devServer.ts
  packages/util-tools/src/update.ts
Due: eslint, tslint

docs: 修改文档
  packages/milktea/README.md
Due: none

refactor: 修改注释
  packages/milktea/src/config/babel.ts
  packages/milktea/src/dll.ts
  packages/milktea/src/loaders/loaders.ts
  packages/milktea/src/plugins/devPlugins.ts
  packages/milktea/src/plugins/plugins.ts
  packages/util-tools/src/update.ts
Due: eslint, tslint

perf: 调整了代码和变量类型
  packages/util-tools/src/update.ts
Due: eslint, tslint

refactor: 修改注释
  packages/milktea/src/config/less.ts
Due: eslint, tslint

feat: 移除register环境
  packages/server/package.json
  packages/server/src/devServer.ts
  packages/server/src/proServer.ts
  packages/server/src/utils/preDevRender.ts
  packages/server/src/utils/preProRender.ts
  packages/server/src/utils/utils.ts
Due: eslint, tslint

perf: register只加载sweetrc.js和sweet.config.js
  packages/milktea/src/utils/babelConfig.ts
Due: eslint, tslint

feat: 配置文件加载移除register
  packages/milktea/package.json
  packages/milktea/src/config/babel.ts
  packages/milktea/src/utils/babelConfig.ts
  packages/milktea/src/utils/getSweetConfigFile.ts
  packages/server/package.json
Due: eslint, tslint
