Repository duan602728596/sweet: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint

chore: 更新依赖
  package.json
Due: none

perf: 服务端渲染添加错误捕捉处理
  packages/server/src/koa-iltorb/index.ts
  packages/server/src/utils/preProRender.ts
  packages/server/src/utils/utils.ts
Due: eslint, tslint

chore: 更新依赖
  package.json
  packages/milktea/package.json
Due: none

feat: 添加图片压缩方法
  packages/util-tools/package.json
  packages/util-tools/src/ImageCompression.ts
Due: eslint, tslint

refactor: 优化代码
  packages/util-tools/src/update.ts
Due: eslint, tslint

chore: 删除图片
  packages/util-tools/tests/image2webp/image.webp
Due: none

test: 图片压缩的测试用例
  .gitignore
  packages/util-tools/package.json
  packages/util-tools/src/imageCompression.ts
  packages/util-tools/tests/image2webp/image2webp.js
  packages/util-tools/tests/imageCompression/image/image.gif
  packages/util-tools/tests/imageCompression/image/image.jpg
  packages/util-tools/tests/imageCompression/image/image.png
  packages/util-tools/tests/imageCompression/imageCompression.js
  packages/util-tools/tests/test.js
Due: eslint, tslint

docs: 添加说明
  packages/util-tools/README.md
Due: none

feat: 添加图片压缩命令行
  packages/milktea-cli/package.json
  packages/milktea-cli/src/argv/argvBuild.ts
  packages/milktea-cli/src/argv/argvImageCompression.ts
  packages/milktea-cli/src/argv/argvStart.ts
  packages/milktea-cli/src/argv/argvUpdate.ts
  packages/milktea-cli/src/cli.ts
  packages/milktea-cli/src/utils/utils.ts
Due: eslint, tslint

refactor: 调整注释
  packages/milktea-cli/src/argv/argvImage2WebP.ts
  packages/milktea-cli/src/argv/argvImageCompression.ts
  packages/milktea-cli/src/argv/argvServer.ts
  packages/milktea-cli/src/argv/argvStart.ts
Due: eslint, tslint

refactor: 调整文件位置
  packages/milktea-cli/tests/test.js
  packages/milktea/tests/test.js
  packages/server/tests/test.js
  packages/util-tools/tests/test.js
  scripts/babelRegisterConfig.js
Due: eslint

chore: 升级依赖
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server/package.json
  packages/util-tools/package.json
Due: none

chore: v0.0.0-alpha.8
  lerna.json
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server/package.json
  packages/util-tools/package.json
Due: none

docs: 更新文档
  packages/milktea-cli/README.md
Due: none

chore: 安装core-js
  package.json
Due: none

chore: 升级依赖
  package.json
Due: none

refactor: 调整css
  package.json
  src/assembly/Arrangement/style.sass
  src/common.sass
Due: none

refactor: 修改css
  package.json
  src/assembly/Arrangement/style.sass
  src/assembly/Sider/style.sass
  src/common.sass
Due: none

style: 调整代码格式
  packages/server/src/devServer.ts
  packages/server/src/proServer.ts
Due: eslint, tslint

fix: 修改css样式
  src/assembly/Arrangement/style.sass
Due: none

chore: 更新依赖
  package.json
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server/package.json
  packages/util-tools/package.json
Due: none

chore: 升级依赖
  packages/milktea/package.json
Due: none

chore: 升级依赖
  package.json
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server/package.json
  packages/util-tools/package.json
Due: none

chore: 升级依赖，调整命令
  package.json
Due: none

ci: 调整命令
  package.json
Due: none

Path conditions:
  eslint: any of: packages/**/*.{js,jsx,ts,tsx}
  tslint: (any of: packages/**/*.{ts,tsx}) or (any of: scripts/**/*.{ts,tsx})
