Repository duan602728596/sweet: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, tslint

ci: 调整eslint配置
  .eslintrc.yml
Due: none

chore: 升级依赖
  package.json
Due: none

perf: 调整新依赖的展示形式
  packages/util-tools/src/update.ts
Due: eslint, tslint

refactor: 调整react-hot-loader
  packages/milktea/react-hot-loader/index.d.ts
  packages/milktea/react-hot-loader/index.js
  packages/milktea/react-hot-loader/root/index.d.ts
  packages/milktea/react-hot-loader/root/index.js
Due: eslint, tslint

build: 调整ts编译配置
  packages/milktea/tsconfig.json
Due: none

feat: 添加缓存插件
  packages/milktea/package.json
  packages/milktea/src/plugins/devPlugins.ts
Due: eslint, tslint

test: 调整测试用例
  packages/milktea/tests/dll.js
  packages/milktea/tests/utils/expectFunction.js
Due: eslint

test: 添加test环境变量
  packages/milktea-cli/package.json
  packages/milktea-cli/tests/.webpackCache/c/assets-parity/log0000
  packages/milktea-cli/tests/.webpackCache/c/md5/log0000
  packages/milktea-cli/tests/.webpackCache/c/missing-resolve/log0000
  packages/milktea-cli/tests/.webpackCache/c/module-resolve/log0000
  packages/milktea-cli/tests/.webpackCache/c/module/log0000
  packages/milktea-cli/tests/.webpackCache/c/resolver/log0000
  packages/milktea-cli/tests/.webpackCache/c/stamp
  packages/milktea-cli/tests/.webpackCache/c/version
  packages/milktea/package.json
  packages/server-log/package.json
  packages/server/.webpackCache/c/assets-parity/log0000
  packages/server/.webpackCache/c/assets-parity/log0001
  packages/server/.webpackCache/c/assets-parity/log0002
  packages/server/.webpackCache/c/assets-parity/log0003
  packages/server/.webpackCache/c/md5/log0000
  packages/server/.webpackCache/c/md5/log0001
  packages/server/.webpackCache/c/md5/log0002
  packages/server/.webpackCache/c/md5/log0003
  packages/server/.webpackCache/c/missing-resolve/log0000
  packages/server/.webpackCache/c/module-resolve/log0000
  packages/server/.webpackCache/c/module-resolve/log0001
  packages/server/.webpackCache/c/module-resolve/log0002
  packages/server/.webpackCache/c/module-resolve/log0003
  packages/server/.webpackCache/c/module/log0000
  packages/server/.webpackCache/c/module/log0001
  packages/server/.webpackCache/c/module/log0002
  packages/server/.webpackCache/c/module/log0003
  packages/server/.webpackCache/c/resolver/log0000
  packages/server/.webpackCache/c/resolver/log0001
  packages/server/.webpackCache/c/resolver/log0002
  packages/server/.webpackCache/c/resolver/log0003
  packages/server/.webpackCache/c/stamp
  packages/server/.webpackCache/c/version
  packages/server/package.json
  packages/util-tools/package.json
Due: none

chore: 删除缓存文件
  packages/milktea-cli/tests/.webpackCache/c/assets-parity/log0000
  packages/milktea-cli/tests/.webpackCache/c/md5/log0000
  packages/milktea-cli/tests/.webpackCache/c/missing-resolve/log0000
  packages/milktea-cli/tests/.webpackCache/c/module-resolve/log0000
  packages/milktea-cli/tests/.webpackCache/c/module/log0000
  packages/milktea-cli/tests/.webpackCache/c/resolver/log0000
  packages/milktea-cli/tests/.webpackCache/c/stamp
  packages/milktea-cli/tests/.webpackCache/c/version
  packages/server/.webpackCache/c/assets-parity/log0000
  packages/server/.webpackCache/c/assets-parity/log0001
  packages/server/.webpackCache/c/assets-parity/log0002
  packages/server/.webpackCache/c/assets-parity/log0003
  packages/server/.webpackCache/c/md5/log0000
  packages/server/.webpackCache/c/md5/log0001
  packages/server/.webpackCache/c/md5/log0002
  packages/server/.webpackCache/c/md5/log0003
  packages/server/.webpackCache/c/missing-resolve/log0000
  packages/server/.webpackCache/c/module-resolve/log0000
  packages/server/.webpackCache/c/module-resolve/log0001
  packages/server/.webpackCache/c/module-resolve/log0002
  packages/server/.webpackCache/c/module-resolve/log0003
  packages/server/.webpackCache/c/module/log0000
  packages/server/.webpackCache/c/module/log0001
  packages/server/.webpackCache/c/module/log0002
  packages/server/.webpackCache/c/module/log0003
  packages/server/.webpackCache/c/resolver/log0000
  packages/server/.webpackCache/c/resolver/log0001
  packages/server/.webpackCache/c/resolver/log0002
  packages/server/.webpackCache/c/resolver/log0003
  packages/server/.webpackCache/c/stamp
  packages/server/.webpackCache/c/version
Due: none

chore: .npmignore
  .gitignore
  packages/milktea-cli/.npmignore
  packages/server-log/.npmignore
  packages/server/.npmignore
Due: none

chore: ignore
  .eslintignore
  .gitignore
Due: none

ci: .lintstagedrc
  .lintstagedrc.yml
Due: none

chore: 升级依赖
  packages/milktea/package.json
Due: none

style: 调整代码格式
  src/index.pug
Due: none

ci: 调整命令
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server-log/package.json
  packages/server/package.json
  packages/util-tools/package.json
Due: none

perf: 调整编译配置
  packages/milktea/src/config.ts
  packages/milktea/src/dll.ts
  packages/milktea/src/loaders/fontFile.ts
  packages/milktea/src/loaders/image.ts
  packages/milktea/src/loaders/less.ts
  packages/milktea/src/loaders/sass.ts
  packages/milktea/src/loaders/svg.ts
  packages/milktea/src/plugins/handleProgress.ts
  packages/milktea/src/plugins/proPlugins.ts
Due: eslint, tslint

perf: 修改filename配置
  packages/milktea/src/config.ts
Due: eslint, tslint

perf: 调整文件名的输出
  packages/milktea/src/config.ts
  packages/milktea/src/loaders/loaders.ts
Due: eslint, tslint

chore: 升级依赖
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server/package.json
Due: none

perf: 调整压缩中间件
  packages/server/package.json
  packages/server/src/devServer.ts
  packages/server/src/koa-iltorb/gzip.ts
  packages/server/src/koa-iltorb/index.ts
  packages/server/src/proServer.ts
Due: eslint, tslint

style: 格式化代码风格
  packages/server/src/proServer.ts
Due: eslint, tslint

perf: 在开发环境开启gzip
  packages/server/src/devServer.ts
Due: eslint, tslint

chore: 升级依赖
  package.json
  packages/milktea-cli/package.json
  packages/milktea/package.json
  packages/server-log/package.json
  packages/server/package.json
  packages/util-tools/package.json
Due: none

perf: github地址使用"?"标记
  packages/util-tools/src/update.ts
Due: eslint, tslint

perf: 调整github地址的展示
  packages/util-tools/src/update.ts
Due: eslint, tslint

perf: node端使用分块
  packages/milktea/src/server.ts
Due: eslint, tslint

Path conditions:
  eslint: any of: packages/**/*.{js,jsx,ts,tsx}
  tslint: (any of: packages/**/*.{ts,tsx}) or (any of: scripts/**/*.{ts,tsx})
